@font-face
    font-family: "Circe"
    src: url("./assets/fonts/Circe-Regular.woff2") format("woff2")
    font-weight: 400
    
@font-face
    font-family: "Circe"
    src: url("./assets/fonts/Circe-Bold.woff2") format("woff2")
    font-weight: 700

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body, #root
    width: 100%
    height: 100%
    font-family: "Circe"

button
    font-family: inherit
    cursor: pointer
    outline: none
    border: none